<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css">
  </head>
  <body>
        <div class="container">
          <h2>Bordered Table</h2>
          <p>The .table-bordered class adds borders to a table:</p>
          <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Email</th>
              <th>Password</th>
              <th>Phone</th>
              <th>Id</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {{#each users}}
              <td>{{@index}}</td>
              <td>{{username}}</td>
              <td>{{email}}</td>
              <td>{{password}}</td>
              <td>{{phone}}</td>
              <td><a href="/users/all/{{_id}}">{{_id}}</a></td>
            </tr>
              {{/each}}
          </tbody>
          </table>
          <ul class="nav navbar-nav ">
              <li><a href="/">Back to home</a></li>
              <li><a href="/users">Back to user form</a></li>
          </ul>
        </div>
    </body>
</html>
